img {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  padding: 0px;
  text-align: center;
  font-family: arial;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.card-content {
  width: 100%;
}

.card-footer {
  width: 100%;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  font-weight: bold;
  background-color: bisque;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

#product-name {
  padding-top: 10px;
}

#joke {
  font-size: 13px;
}

.jumbotron {
  padding:20px;
  background-color: bisque;
}

#product-qty {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cart {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  display: flex;
  flex-direction: column;  
}

#cart-title {
  margin-top: 0px;
  border-bottom: 2px;
}

#bamazon {
  width: 200px;
  float: right;
}